[defaults]
interpreter_python = auto
remote_user = ansible
private_key_file = .secrets/ansible
forks = 20 ;# Permit up to X parallel hosts to be executed at the same time.
strategy = linear

gathering = smart ;# Gather facts only for new hosts or when the cache has expired.
fact_caching = jsonfile ;# Caches facts in json. Alternatively can use `redis` if it gets too unruly.
fact_caching_connection = ./fact_cache ;# Path to cache file
fact_caching_timeout = 3600 ;# Time in seconds to cache (3600 is 1 hour)

[ssh_connection]
ssh_args = -o ServerAliveInterval=2
pipelining = True ;# Enable SSH to send multiple operations in a single batch SSH session.
